<style>
  .wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 90vh;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 0 0 30%;
  }

  
</style>

<div class="wrapper">
  <nav class="nav">
    <a routerLink="/squirrel">Naar squirrel</a>
    <a routerLink="/">Naar Home</a>
  </nav>
  <router-outlet></router-outlet>
</div>